* {
  margin: 0;
  padding: 0;
  border: 0;
}

:root {
  --main-color: #156ae3;
  --sub-color: #e0e9fd;
  --gray1: #f8f9fb;
  --gray2: #f5f7f8;
  --gray3: #f2f4f6;
  --gray4: #eaedf0;
  --gray5: #dfe3e7;
  --gray6: #cfd4d8;
  --gray7: #aeb3b7;
  --gray8: #909498;
  --gray9: #57595b;
  --gray10: #121212;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
button,
code {
  font-family: "Pretendard", "Roboto";
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: auto;
  height: auto;
  -webkit-user-drag: none;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -ms-touch-select: none;
  -webkit-user-select: none;
}

button {
  cursor: pointer;
}

h1,
h2,
p,
span,
div {
  word-break: keep-all;
}

input {
  border: 1px solid var(--gray4);
  border-radius: 3px;
  height: 40px;
  padding: 0 17px;
  color: #000;
  box-sizing: border-box;
  width: 100%;
  max-width: 340px;
}

input:focus {
  outline: none;
  border-color: #000;
}

input::placeholder {
  color: #aeb3b7;
}

input[type="checkbox"] {
  width: 18px;
  height: 18px;
  display: none;
}

input[type="checkbox"] + label {
  cursor: pointer;
  background-repeat: no-repeat;
  position: relative;
  padding: 3px 0 0 28px;
  font-size: 14px;

  &::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid var(--gray6);
    background: #fff;
    border-radius: 3px;
    -webkit-mask-size: 24px;
    position: absolute;
    left: 0;
    top: 0;
  }

  &::before {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    position: absolute;
    left: 1px;
    top: 1px;
    z-index: 2;
  }
}
input[type="checkbox"]:checked + label {
  &::before {
    background: #fff;
    -webkit-mask-repeat: no-repeat;
    mask-image: url("assets/icon/system/check-line.svg");
  }

  &::after {
    background: var(--main-color);
  }
}

/*토스트*/
.Toastify .Toastify__toast {
  min-height: 40px;
  font-size: 14px;
  padding: 8px 16px;
}

.Toastify .Toastify__toast-container {
  z-index: 600;
  width: fit-content !important;
  max-width: 500px;
  min-width: 300px;
}

.Toastify .Toastify__toast-theme--dark {
  background: rgba(0, 0, 0, 0.8);
}

.Toastify .Toastify__close-button {
  opacity: 1;
  margin-top: 8px;
}

/*모달*/
.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.2) !important;
  z-index: 10;
}

.ReactModal__Content {
  width: fit-content !important;
  height: fit-content !important;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 0 !important;
  min-width: 360px;
}

.modal_header {
  display: flex;
  border-bottom: 1px solid var(--gray3);
  height: 62px;
  align-items: center;
  padding: 0 22px;
  box-sizing: border-box;

  .modal_title {
    font-size: 20px;
    font-weight: bold;
    color: #121212;
  }

  .modal_close {
    width: 34px;
    height: 34px;
    background: center url("assets/icon/system/close-line.svg");
    background-size: 26px;
    margin-left: auto;
    margin-right: -8px;

    &:hover {
      background-color: var(--gray1);
    }
  }
}

.modal_content {
  padding: 20px 22px 34px 22px;

  .modal_btn {
    margin-top: 40px;
  }
}

.ant-picker {
  border: 1px solid var(--gray4);
  border-radius: 3px;
  height: 40px;
  padding: 0 17px;
  color: #000;
  box-sizing: border-box;
  width: 100%;
  max-width: 340px;
}

/* sweetalert */

.swal2-close {
  display: block !important;

  &:hover {
    background-color: var(--gray1);
  }
}
.htmlContainer {
  padding: 20px 22px 34px 22px;
}
